  
    *{margin:0px;
    }
    
    main{width:960px; margin-left:auto; margin-right:auto;
    }

    h1{
        text-align: center;
    }
    
    nav a{
        margin-left: 10px;
        text-decoration: none;

    }
    
    a:hover{
        text-decoration:underline; color:black;
    }
    
    header{
        font-size:large;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    p {
        font-size: 20px;
    }
    span{
        font-size: 10px ;
    }
    
    body{background-color:rgb(46, 133, 46);
    }
    
    #basketball, #soccer, #tennis{border-width:4px; border-style:dotted; border-color:blue;
    }
    
